body{
    background-color: black;
}
h1{
    color: blue;
}
p{
    text-align: center;
    border: 4px solid blue;
}
h2{
    color: white;
}
:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none
  